.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    /* /* -moz-osx-font-smoothing: grayscale; */
    backface-visibility: hidden; 
    /* transform: translateZ(0); */
    transition: transform 0.25s ease-out;
    /* 接收的三个属性：要改变的css属性， 花费的时间， 效果的选择 */
    /* 为确保移除时候的动画效果 */
}

.card-container:hover{
    transform: scale(1.05);
}